body{
	background: #FFF;
	width: 100%;
}
.fill{
	width: 100%;
	height: auto;
}
.title{
	margin: 20px auto 0px auto;
	width: 95%;
	text-align: left;
	color: #ae8c3d;
	font-size: 1.45rem;
	line-height: 2.0rem;
}
.row{
	margin-top: 20px;
	float: left;
}
.left{
	position: relative;
	width: 220px;
	margin: 0 auto;
	height: 50px;
	text-align: center;
}
.left img{
	position: absolute;
	top: 50%;
	margin-top: -20px;
	left: 1%;
}
.left p{
	font-weight: bold;
	line-height: 2.2rem;
	display: inline-block;
	font-size: 1.8rem;
	color: #ae8c3d;
	position: absolute;
	top: 50%;
	height: 20px;
	margin-top: -10px;
	right: 1%;
}
.right{
	width: 96%;
	margin: 0 auto;
}
.right h3{
	font-size: 1.8rem;
	color: #ae8c3d;
	padding: 8px 0;
}
.right b{
	line-height: 2.0rem;
	font-size: 1.45rem;
}
.li{
	position: relative;
	text-indent: 0.5rem;
	line-height: 2.0rem;
	color: #595757;
	font-size: 1.45rem;
	margin-right: 5px;
}
.li i{
	position: absolute;
	top: 40%;
	left: 0;
	width: 2px;
	height: 2px;
	background-color: #ae8c3d;
	border-radius: 50%;
	display: block;
}
.code{
	margin-top: 10px;
	clear: both;
	text-align: center;
}
.code p{
	background-color: #dabc71;
	color: #FFF;
	padding:10px;
	font-size: 1.5rem;
	text-align: left;
	line-height: 1.8rem;
	border-radius: 10px;
	display: inline-block;
	width: 200px;
}
.code span{
	display: block;
	padding: 10px 0px 0px 0;
	font-size: 1.55rem;
	font-weight: bold;
}
